body{
    font-family: Arial;
}
#header{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#header .header-inner{
    width: 80%;
    height: 100%;
    display: flex;
}
#header .header-inner .logo{
    margin-left: 20px;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
} 
.logo img{
    max-width: 103%;
    max-height: 103%;
}
#header .header-inner .nav{
    margin-left: 35px;
    width: 80%;
    height: 100%;
    display: flex;
}
.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Archivo', sans-serif;
}
.main-menu>li{
    width: fit-content;
    margin-right: 20px;
    padding: 5px;
    position: relative;
}
.main-menu>li>a{
    text-decoration: none;
    color: #020516;
    font-size: 15px;
}
.main-menu>li>a.click{
    color: #0b249e;
}
.sub-menu{
    display: none;
}
.main-menu>li>a:hover{
    color: #0b249e;
}
.main-menu>li:hover{
    color: #0b249e;
}
.main-menu>li:hover .sub-menu{
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #f4f4f4;
    padding: 13px;
    width: max-content;
}
.main-menu>li:hover .sub-menu li{
    margin-bottom: 13px;
    border-bottom: 1px solid black;
}
.main-menu>li:hover .sub-menu li a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'Archivo', sans-serif;
}
.mini-sub-menu{
    display: none;
}
.sub-menu>li:hover{
    color: #0b249e;
}
.sub-menu>li:hover .mini-sub-menu{
    display: block;
}
.poster img{
    max-width: 100%;
    max-height: 100%;
}
#intro{
    height: 510px;
    width: 100%;
    display: flex;
    justify-content: center
}
#intro .intro-inner{
    margin-top: 50px;
    width: 1200px;
    height: 440px;
    display: flex;
}
#intro .intro-inner .illust{
    margin-left: 30px;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.illust img{
    max-width: 102%;
    max-height: 102%;
}
#intro .intro-inner .document{
    width: 60%;
    height: 100;
    margin-left: 40px;
    margin-top: 50px;
}
.document>p{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
    text-decoration: none;
}
#reason{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#reason .reason-inner{
    margin-top: 40px;
    width: 80%;
    height: 365px;
    text-align: center;
}
#reason .reason-inner .ask{
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 25px;
    font-family: arial, sans-serif;
    font-weight: 600    ;
}
#reason .reason-inner .some-reason{
    margin-top: 70px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.rs{
    width: 30%;
    line-height: 25px;
    padding: 20px 20px 20px 20px;
    border: 2px solid #0b249e;
    margin-left: 60px;
    border-radius: 15px;
}
.rs .icon{
    margin-bottom: 30px;
}
.rs .icon>i{
    font-size: 60px;
    color: #0b249e;
}
#direction{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(10,46,158);
}
#direction .job{
    margin-top: 70px;
    width: 1250px;
    height: 400px;
    align-items: center;
}
#direction .job .introduce{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    color: #f4f4f4;
    margin-bottom: 70px;
}
#direction .job .some-job{
    height: 250px;
    width: 1250px;
}
.list-job{
    display: flex;
    justify-content: space-between;
}
.pic img{
    height: 190px;
    width: 296px;
}
.list-job>li{
    height: 240px;
    width: 300px;
    border: 2px solid  #f4f4f4;
    background-color: #f4f4f4;
    margin-right: 20px;
}
.txt{
    margin-top: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
}
.some-job .short-text{
    margin-top: 60px;
    color: #f4f4f4;
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 30px;

}
#person{
    height: 600px;
    width: 100%;
    justify-content: center;
}
#person .p-inner{
    width: 1250px;
    height: 473px;
    align-items: center;
    padding: 7%;
}
.p-header{
    width: 100%;
    height: 35px;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
}
.p-extra{
    margin-top: 20px;
    display: flex;
}
.psubextra{
    width: 30%;
    height: 100%;
    margin: 10px;
    border: 2px solid rgb(225,224,224);
    padding: 2%;
}
.pict img{
    height: 258px;
    width: 344px;
}
.decrip{
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: 600;
    line-height: 21px;
    font-size: 15px;    
}
#infor{
    display: grid;
}
.infor-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0, rgb(63, 63, 240),rgb(21, 21, 139));
    color: #e1e0e0;
}   
.infor-form{
    width: 40%;
    height: 80%;
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 50px;
}
.infor-main{
    width: 40%;
    height: 80%;
    margin-top: 50px;
}
#infor{
    padding-top: 50px;
    height: 615px;
}
.infor-form .title h2{
    color: yellow;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.infor-form .title h3{
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.form-control{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
}
button{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 500;
    background-color: orange;
    border-radius: 5px ;
    border: 0;
    text-transform: uppercase;
}
button:hover{
    background-color: rgb(rgb(0, 153, 255));
    color: white;
}
.infor-main{
    margin-top: 100px;
}
.infor-main ul li i{
    color: yellow;
}
.infor-main ul {
    padding-top: 20px;
    margin: 0;
}
.infor-main ul li{  
    padding: 6px;
    line-height: 20px;
}
.infor-main .inf-time{
    margin-left: 20px;
}
#course{
    height: 675px;
    width: 100%;
    justify-content: center;
}
#course .course-inner{
    padding: 7%;
    height: 567px;
    width: 80%;
    align-items: center;
}
.course-header{
    font-family: arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}
.course-info{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
    width: 100%;
}
.sample{
    height: 482px;
    width: 513px;
}
.sample img{
    max-width: 100%;
    max-height: 100%;
}
.course-include{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 40px;
    line-height: 40px;
    font-size: 16px;
}
.course-price{
    margin-left: 40px;
}
.carousel-inner{
    display: flex;
}
.carousel-item img{
    max-width: 200px;
}
#footer{
    height: 500px;
    background-color: rgb(48, 48, 170);
}
.footer-wrap{
    display: flex;
    padding-top: 70px;
    justify-content: center;
    color:white;
}
.footer-wrap h2{
    font-size: 26px;
}
.footer-wrap .footer-inf{
    width: 25%;
    line-height: 30px;
    padding-right: 50px;
}
.footer-wrap .footer-contact{
    width: 25%;
    line-height: 30px;
}
.footer-wrap .footer-form{
    width: 25%;
    padding-left: 50px;
}
.footer-wrap a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.footer-wrap ul{
    padding-left: 0;
}
.footer-wrap .footer-inf ul i{
    padding:0 5px 0 5px;
}